*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

.header{
	background-color: #0993d7;
}

.carousel-item{
	height: 700px;
}

#carouselExampleControls .carousel-item img{
	object-fit: cover;
	object-position: cover;
	height: 80vh;
	overflow: hidden;
}



#prevBtn{
	position: absolute;
	top:50%;
	z-index: 10;
	left:4%;
	font-size: 70px;
	color: black;
	cursor:pointer;
	padding-left: 2rem;
}

#nextBtn{
	position: absolute;
	top:50%;
	z-index: 10;
	right:4%;
	font-size: 70px;
	color: black;
	cursor:pointer;
	padding-right: 2rem;
}
.title{
font-size: 35px;
font-weight: 600;
}

.footer{
	background-color: #0993d7;
}

.footer-logo{
	  margin: auto;    
    display: block;
}

.social-media-icon{
  text-align: center;
  font-size: 7vw;
	color: white;
}